export(designer_check)
export(designer_gallery)
export(designer_style)
export(designer_styles)
export(designer_use)
export(designer_update_templates)
export(html)
export(pdf)
export(snapshot)
S3method(print,docdesigner_check)
