body {
  color: #242424;
}

.slides > article {
  font-family: "Source Serif Pro", Georgia, serif;
}

h1, h2, h3 {
  color: #333333;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

a {
  color: #333333;
}

pre, code {
  font-family: "Fira Code", "Consolas", monospace;
}
